@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


@font-face {
    font-family: "Museo-Moderno";
    src: url("fonts/MuseoModerno-VariableFont_wght.ttf"); format:('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Museo-Moderno";
    src: url("fonts/MuseoModerno-Bold.ttf"); format:('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf"); format:('truetype');
    font-weight: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 120px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo {
    font-family: "Museo-Moderno", "sans-serif";
    font-weight: bold;
    font-size: 40px;
    color: blueviolet;
    transition: 0.3s ease;
}

.logo:hover {
    color: violet;
    text-shadow: 0 0 20px rgb(42, 0, 194),
                 0 0 25px violet;
    transform: scale(1.1);
}

span {
    color: blueviolet;
}

.navbar a {
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 18px;
    color: white;
    margin: 0px 20px;
}

.navbar a:hover,
.navbar a.activado {
    color: violet;
    border-bottom: 3px solid violet;
}

/* index */

#index {
    width: 100%;
    height: 986px;
    background: #AD8CE0;
    display: flex;
    flex-direction: column;
    font-family: "Museo-Moderno", "sans-serif";
}

.titulo h1 {
    padding: 280px 120px 0px;
    font-size: 121px;
    font-weight: bold;
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 2;
}
      
@keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0);}
}
                  

.banda_medio {
    width: 100%;
}

.banda_medio :hover {
    color: white;
}

.banda_medio h2 {
    text-align: center;
    font-size: 107px;
    color: #8a2be2;
}

.nombre h3 {
    text-align: end;
    font-size: 81px;
    padding: 0px 120px ;
}

.foto {
    border-radius: 50%;
    width: 550px;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: blueviolet;
}
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.6);
    width: 50px;
}

/* sobre mi */

#presentacion {
    width: 100%;
    height: 986px;
    padding: 167px 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    background-color: #C688BB;
    gap: 67px;
}

.titulo_texto {
    padding: 40px;
    border-radius: 40px;
    border: 2px solid #000;
    background-color: rgb(228, 197, 228);
    box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.25);
}


.titulo_texto h1 {
    padding-bottom: 15px;
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 59px;
    font-weight: 900;
}

.titulo_texto p {
    font-family: "Roboto", "sans-serif";
    font-size: 27px;
    line-height: 37px;
}

.imagen img {
    border-radius: 40px;
    border: 2px solid #000;
    box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.25);
}

.imagen :hover {
    transition: 1s;
    transform:scale(1.1)
}

#experiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: rgb(241, 241, 241);
    cursor: default;
}

.experiencia-contenido h2 {
    font-family: "Museo-Moderno", "sans-serif";
    color: blueviolet;
    line-height: 100px;
    font-size: 45px;
}
.experiencia-contenido h3 {
    font-family: "Roboto", "sans-serif";
    color:blueviolet;
    line-height: 2;
    font-size: 27px;
}
.experiencia-contenido p {
    font-family: "Roboto", "sans-serif";
    line-height: 1.5;
    font-size: 16px;
}

/* trabajos */

#habilidades {
    width: 100%;
    padding: 12% 8%;
    justify-content: center;
    background: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: default;
}
.seccion-habilidades {
    font-family: "Museo-Moderno", "sans-serif";
    text-align: left;
    color: blueviolet;
    font-size: 45px;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.caracteristicas, .informatico {
    width: 400px;
    font-family: "Roboto", "sans-serif";
    background-color: rgb(228, 197, 228);
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    padding: 48px;
    
}
.caracteristicas h3, .informatico h3 {
    font-family: "Museo-Moderno", "sans-serif";
    color: blueviolet;
    font-size: 30px;
    line-height: 50px;
}
.caracteristicas li, .informatico li {
    font-size: 20px;
    line-height: 30px;
}

.caracteristicas:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
    transform: translateY(-3%);
}

.informatico:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
    transform: translateY(-3%);
}

/* contacto */

#estructura_contacto {
    width: 100%;
    padding: 167px 264px;
    font-family: "Museo-Moderno", "sans-serif";
    background-color: #C688BB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#estructura_contacto h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 59px;
    border-radius: 40px;
    border: 2px solid blueviolet;
    background-color: rgb(228, 197, 228);
}

.contacto {
    width: 100%;
    padding: 40px;
    border-radius: 40px;
    border: 2px solid #000;
    background-color: rgb(228, 197, 228);
    box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.25);
}

form {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.datos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

label {
    height: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    font-family: "Roboto", "sans-serif";
    font-size: 1.0em;
    padding: 10px 24px;
    margin: 5px 0 20px 0;
    border-radius: 40px;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]+label::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: inline-flex;
}

input[type="radio"]:checked+label::before {
    background-color: rgb(133, 26, 88);
}

textarea {
    font-family: "Roboto", "sans-serif";
    font-size: 1.0em;
    width: 745px;
    height: 185px;
    padding: 10px 24px;
    margin: 8px 0 30px 0;
    border-radius: 40px;
}

.mensaje_enviar {
    display: flex;
    flex-direction: column;
}

.boton_enviar {
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 1.0em;
    height: 50px;
    background-color: violet;
    border-radius: 40px;
}


/* footer */

footer {
    background: rgba(0, 0, 0, 0.877);
    color: #fff;
    text-align: center;
    padding: 14px 0px 7px 0px;
    cursor: default;
}
footer {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 20px;
}
footer .redes a {
    color: violet;
    line-height: 42px;
    margin: 40px;
   
}
