@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


@font-face {
    font-family: "Museo-Moderno";
    src: url("fonts/MuseoModerno-VariableFont_wght.ttf"); format:('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf"); format:('truetype');
    font-weight: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100px;
}

.logo {
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 25px;
    color: blueviolet;
    font-weight: 600px;
    transition: 0.3s ease;
}

.logo:hover {
    color: violet;
    text-shadow: 0 0 25px white,
                 0 0 25px violet;
    transform: scale(1.1);
}

span {
    color: rgb(255, 255, 255);
}

.navbar a {
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 18px;
    color: white;
    font-weight: 500px;
    margin: 0px 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.activado {
    color: violet;
    border-bottom: 3px solid violet;
}

#inicio {
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 30px 12%;
}

.inicio-contenido {
    max-width: 800px;
    font-family: "Museo-Moderno", "sans-serif";
}

.inicio-contenido h3 {
    font-size: 42px;
}

.inicio-contenido h1 {
    font-size: 46px;
}

span {
    color: blueviolet;
}

.inicio-contenido p {
    font-size: 18px;
    margin: 25px 0px 30px;
    font-family: "Roboto", "sans-serif";
}

.foto {
    border-radius: 50%;
    width: 550px;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: blueviolet;
}
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.6);
    width: 50px;
}

#presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: rgb(241, 241, 241);
    cursor: default;
}

.presentacion-contenido h2 {
    font-family: "Museo-Moderno", "sans-serif";
    text-align: left;
    color: blueviolet;
    font-size: 63px;
    line-height: 3;
}

.presentacion-contenido h3 {
    color: blueviolet;
    font-size: 32px;
    line-height: 1;
    font-family: "Roboto", "sans-serif";
}
.presentacion-contenido p {
    font-size: 20px;
    margin: 1em 20em 0em 0em;
    font-family: "Roboto", "sans-serif";
    line-height: 0,3;
}

#experiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: rgb(241, 241, 241);
    cursor: default;
}

.experiencia-contenido h2 {
    font-family: "Museo-Moderno", "sans-serif";
    color: blueviolet;
    line-height: 100px;
    font-size: 45px;
}
.experiencia-contenido h3 {
    font-family: "Roboto", "sans-serif";
    color:blueviolet;
    line-height: 2;
    font-size: 27px;
}
.experiencia-contenido p {
    font-family: "Roboto", "sans-serif";
    line-height: 1.5;
    font-size: 16px;
}


#habilidades {
    width: 100%;
    padding: 12% 8%;
    justify-content: center;
    background: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: default;
}
.seccion-habilidades {
    font-family: "Museo-Moderno", "sans-serif";
    text-align: left;
    color: blueviolet;
    font-size: 63px;
}
.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.caracteristicas, .informatico {
    width: 400px;
    font-family: "Roboto", "sans-serif";
    background-color: rgb(228, 197, 228);
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    padding: 48px;
    
}
.caracteristicas h3, .informatico h3 {
    font-family: "Museo-Moderno", "sans-serif";
    color: blueviolet;
    font-size: 30px;
    line-height: 50px;
}
.caracteristicas li, .informatico li {
    font-size: 20px;
    line-height: 30px;
}

.caracteristicas:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
    transform: translateY(-3%);
}

.informatico:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
    transform: translateY(-3%);
}

#contacto {
    width: 100%;
    height: auto;
    background: rgb(241, 241, 241);
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
    font-family: "Museo-Moderno", "sans-serif";
    color: blueviolet;
    font-size: 30px;
    cursor:default;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}



footer {
    background: rgba(0, 0, 0, 0.877);
    color: #fff;
    text-align: center;
    padding: 14px 0px 7px 0px;
    cursor: default;
}
footer {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
}
footer .redes a {
    color: violet;
    line-height: 42px;
    margin: 40px;
   
}