@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


@font-face {
    font-family: "Museo-Moderno";
    src: url("fonts/MuseoModerno-VariableFont_wght.ttf"); format:('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Museo-Moderno";
    src: url("fonts/MuseoModerno-Bold.ttf"); format:('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf"); format:('truetype');
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.6);
    width: 50px;
}

#header {
    z-index: 2;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    font-size: 0.9em;
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0 30px;
}

.contenido {
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
}

.navegador a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-family: "Museo-Moderno", "sans-serif";
    text-transform: uppercase;
    font-size: 1.2em;
}

.navegador a:hover {
    color: violet;
    transition: 0.5s;
}

#menu,
#menu_check {
    display: none;
}

.logo {
    font-family: "Museo-Moderno", "sans-serif";
    font-weight: bold;
    font-size: 40px;
    color: blueviolet;
    transition: 0.3s ease;
}

.logo:hover {
    color: violet;
    text-shadow: 0 0 20px rgb(42, 0, 194),
                 0 0 25px violet;
    transform: scale(1.1);
}

span {
    color: blueviolet;
}

.nav a {
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 18px;
    color: white;
    margin: 0px 20px;
}

.nav a:hover,
.nav a.activado {
    color: violet;
    border-bottom: 3px solid violet;
}



/* index */
#texto {
    max-width: 510px;
}

.bloque_info {
    font-family: "Roboto", "sans-serif";
    font-size: 1.5em;
}

#sobre_mi {
    width: 100%;
    background-color: #C688BB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0 0 0;
}

#sobre_mi h1 {
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 59px;
}

.presentacion {
    padding: 30px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    p {
        color: black;
    }
}

.presentacion img {
    border-radius: 40px;
    box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.25);
}

.presentacion img:hover {
    transition: 1s;
    transform:scale(1.1)
}



/* sobre mi */

#texto {
    max-width: 500px;
}

.bloque_info {
    font-family: "Roboto", "sans-serif";
    font-size: 1.5em;
}

#sobre_mi {
    width: 100%;
    background-color: #C688BB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0 0 0;
    gap: 40px;
}

#sobre_mi h1 {
    text-align: center;
    width: 61%;
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 59px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgb(228, 197, 228);
}

.presentacion {
    padding: 50px 40px 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 197, 228);
    border-radius: 40px;
    border: 2px solid black;
    gap: 40px;
}

.presentacion img {
    border-radius: 40px;
    box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.25);
}

.presentacion img:hover {
    transition: 1s;
    transform:scale(1.1)
}

.conocimientos {
    padding: 70px 0 100px 0;
    background-color: #AD8CE0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.conocimientos h2 {
    text-align: center;
    width: 63%;
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 59px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgb(228, 197, 228);
}

.programas {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(228, 197, 228);
    border: 2px solid black;
    border-radius: 40px;
    gap:15%

}

.programas img {
    border-radius: 60px;
}

.programas h3 {
    font-family: "Roboto", "sans-serif";
    font-size: 27px;
}


.logos {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logos img:hover {
    transition: 1s;
    transform:scale(1.1)
}


/* trabajos */

#trabajos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 167px 118px;
    background-color: #AD8CE0;
}

.mis-trabajos {
    display: flex;
    justify-content: center;
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 59px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: rgb(228, 197, 228);
}

#trabajos h2 {
    width: 340px;
    display: flex;
    padding: 10px 24px;
    font-family: "Museo-Moderno", "sans-serif";
    font-size: 29px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: rgb(228, 197, 228);
}

.galeria {
    display: grid;
    justify-content: center;
    grid-template-columns: 480px 480px 480px;
    width: 100%;
    padding: 35px;
    grid-gap: 45px 90px;
    overflow: hidden;
}

.galeria img {
    border-radius: 40px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 1s;
}

.galeria :hover img {
    filter: blur(2px);
    transform: rotate(2deg) scale(1.1);
}

.editorial {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lettering {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: transform .6s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 120px;
    right: 80px;
    font-size: 40px;
    font-family: "Museo-Moderno", "sans-serif";
    color: rgb(228, 197, 228);
    background-color: black;
    border-radius: 40px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.next {
    display: block;
    background-color: black;
    color: white;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
}

.medios {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.medios-video {
    display: flex;
    justify-content: center;
}

.medios-video video {
    border-radius: 40px;
}

/* contacto */

.contacto {
    display:flex;
    justify-content: center;
    align-items: center;
    background: #C688BB;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container {
    height: 92vh;
    display:grid;
    align-items: center;
    grid-template-columns: repeat(2,47%);
    gap:75px;
    width: 115vh;
}

.box-info {
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info h1 {
    text-align: left;
    font-size: 49px;
    font-family: "Museo-Moderno", "sans-serif";
    background-color: rgb(228, 197, 228);
    border-radius: 40px;
    border: 2px solid black;
    padding: 30px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px;
    background-color: rgb(228, 197, 228);
    border-radius: 40px;
    border: 2px solid black;
    padding: 25px;
}

.data p {
    font-family: "Roboto", "sans-serif";
    font-size: 1.3rem;
}

.data p i {
    margin-right: 10px;
    font-size:25px;
}

.data {
    font-style: normal;
}

.correo a {
    text-decoration: none;
    color: black;
}
.correo a:hover {
    color: #AD8CE0;
}

.correo a:active {
    color: rgb(133, 26, 88);
}

.telefono {
    padding-bottom: 20px;
}

.telefono a {
    text-decoration: none;
    color: black;
}

.telefono a:hover {
    color: #AD8CE0;
}

.telefono a:active {
    color: rgb(133, 26, 88);
}
form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
    background-color: rgb(228, 197, 228);
    border-radius: 40px;
    border: 2px solid black;
    padding: 25px;
}

.input-box label {
    font-family: "Museo-Moderno", "sans-serif";
    display: flex;
    padding: 0 10px;
}

.input-box input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    border-radius: 40px;
    
}

.input-box input::placeholder,
.input-box textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box input:focus::placeholder,
.input-box textarea:focus::placeholder {
    color:transparent;
}

.input-box input:focus,
.input-box textarea:focus {
    border-bottom:3px solid rgb(228, 197, 228);
    animation: shake .2s;
}

.input-box textarea {
    width: 100%;
    height: 130px;
    padding: 15px;
    border:3px solid transparent;
    outline: none;
    transition:.3s;
    letter-spacing: 1.5px;
    border-radius: 40px;
}


.input-box  i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box input:focus i {
    color:rgb(228, 197, 228);
}

form button {
    width: 100%;
    padding: 10px;
    outline: none;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 40px;
    font-family: "Museo-Moderno", "sans-serif";
}

form button:hover,
.links a:hover {
    background: #AD8CE0;
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


/* footer */

footer {
    background-color: black;
    color: white;
    font-family: "Museo-Moderno", "sans-serif";
    text-decoration: none;
    padding: 40px 100px;
    display: flex;
    justify-content: center;
}

#contenedor_footer {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 70px;
}

.redes {
    display: flex;
    gap: 60px;
}

/*------responsive------*/

@media screen and (max-width: 600px) {
    /*------navegador------*/

    #header {
        font-size: 1.2em;
    }

    nav ul {
        width: 100%;
        height: calc(100% - 120px);
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: violet;
        position: fixed;
        left: 0;
        top: 70px;
        gap: 15px;
        overflow-y: auto;
    }

    nav li {
        padding: 20px 0;
    }

    .contenido {
        padding: 0 16px;
        display: flex;
        height: 80px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .navegador label img {
        width: 30px;
        height: 30px;
    }

    #menu_check:not(:checked)~ul {
        display: none;
    }

    #menu {
        display: block;
        position: absolute;
        right: 16px;
        top: 25px;
    }

    #menu_close {
        display: none;
    }

    #menu_check:checked~label #menu_open {
        display: none;
    }

    #menu_check:checked~label #menu_close {
        display: block;
    }
   
    /*------sobre mi ------*/

    #sobre_mi {
        li {
            font-size: 1.2em;
        }
    }

    #sobre_mi h1 {
        width: 96%;
    }

    .presentacion {
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;

        img {
            width: 488px;
            height: 448px;
        }
    }

    #texto {
        max-width: 500px;
        padding: 0 16px;
    }

    .conocimientos h2 {
        width: 96%;
    }

    .programas {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /*------Footer------*/

    footer {
        padding: 0 16px;
    }

    #contenedor_footer {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}